.bodyRecipe {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 7vw;
    margin-right: 7vw;
    align-items: center;
    font-family: san-serif;
}

.leftRecipe {
    width: 20vw;
    height: 100vh;
    background-color: lightgreen;
    border-radius: 15px;
}

.rightRecipe {
    margin-left: 20px;
    width: 70vw;
    height: 100vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe {
    width: 70vw;
    height: 100vh;
    border-radius: 10px;
    border-style: dashed;
}