.bodyDash {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 7vw;
    margin-right: 7vw;
    align-items: center;
    font-family: san-serif;
}

.left {
    width: 20vw;
    height: 100vh;
    background-color: #a0522d;
    border-radius: 15px;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.13);

}

.right {
    margin-left: 20px;
    width: 70vw;
    height: 100vh;
    border-style: dashed;
    border-color: #a0522d;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header {
    margin-top: 30px;
    font-size: 60px;
    font-family: 'Marck Script';
    color: white;
}

.carbonSummary {
    margin-top: 30px;
    background-color: green;
    width: 60vw;
    height: 40vh;
    border-radius: 15px;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.13);
}

.mealPlan {
    margin-top: 30px;
    background-color: green;
    width: 60vw;
    height: 45vh;
    border-radius: 15px;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.13);
}

.calendar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.breakfast {
    font-family: 'Jaldi';
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 18vw;
    height: 25vh;
    background-color:#ACE1AF;
    border-radius: 5px;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.13);
}

.lunch {
    font-family: 'Jaldi';
    margin-top: 20px;
    margin-right: 20px;
    width: 18vw;
    height: 25vh;
    background-color: #ACE1AF;
    border-radius: 5px;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.13);
}

.dinner {
    font-family: 'Jaldi';
    margin-top: 20px;
    margin-right: 20px;
    width: 18vw;
    height: 25vh;
    background-color: #ACE1AF;
    border-radius: 5px;
    box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.13);
}


.mealHeader {
    font-size: 28px; 
}
